# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*
!.env.example
strucure.txt
backend_switch.txt

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/
*.egg-info/
.eggs/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pipenv / poetry
Pipfile.lock
poetry.lock

# MyPy / Pyright
.mypy_cache/
.pyright/

# pytest
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
