// styles/global.scss

@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.5;
  color: $dark-text;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary-color;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

button, input, textarea, select {
  font-family: inherit;
}

code, pre {
  font-family: $mono-font;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2;
}